<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AVSWEB</title>
  <link href="css/main.css" rel="stylesheet">
</head>

<body class="js-homepage"> 
  <div class="page-wrapper">
    <div class="container">
      <header class="main-header">
        <a class="logo logo--light logo--opened js-logo">
          <svg viewBox="0 0 936 316">
            <path d="M136.9,198.3c-3.2,1.7-7.1,0.6-8.8-2.6l-36.6-68.2c-1.7-3.2-0.6-7.1,2.6-8.8c3.2-1.7,7.1-0.6,8.8,2.6l36.6,68.2
                              C141.2,192.6,140.1,196.6,136.9,198.3L136.9,198.3z M101.5,127.5l-36.6,68.2c-1.7,3.2-5.7,4.3-8.8,2.6c-3.2-1.7-4.3-5.7-2.6-8.8
                              l36.6-68.2c1.2-2.2,3.5-3.5,5.9-3.4c0.1,0,0.5,0,0.5,0c0.1,0,0.6,0,0.7,0c0.8,0.1,1,0.4,1.7,0.8
                              C102.1,120.4,103.2,124.4,101.5,127.5z" />
            <path d="M209.5,127.5l-36.6,68.2c-1.7,3.2-5.7,4.3-8.8,2.6c-3.2-1.7-4.3-5.7-2.6-8.8l36.6-68.2c1.7-3.2,5.7-4.3,8.8-2.6
                              C210.1,120.4,211.2,124.4,209.5,127.5L209.5,127.5z M168.9,198.3c-3.2,1.7-7.1,0.6-8.8-2.6l-36.6-68.2c-1.7-3.2-0.6-7.1,2.6-8.8
                              c3.2-1.7,7.1-0.6,8.8,2.6l36.6,68.2C173.2,192.6,172.1,196.6,168.9,198.3L168.9,198.3z" />
            <path d="M240,128c0,0-12-1.2-12,9c0,8,5.7,10,14,13s15,4.3,20,13c4.2,7.4,4.3,21.1-6,29c-10.7,8.2-26.3,6.8-37,2c-4.5-2-4.2-7.3-3-9
                              s5.8-2.3,10,0s9.7,2.9,14,2c5.3-1.1,12.8-3.2,13-11s-2-10.5-12-14c-9-3.2-25.8-7.8-25-26c0.3-7.4,5.2-13,10.1-15.4
                              c7-3.5,13-3.8,17.9-2.6c3.8,1,17.3,5.7,14,12C253.6,138.5,245.8,128,240,128L240,128z" />
            <path d="M305,305V11H11v294H305 M316,316H0V0h316V316L316,316L316,316z" />
            <text class="logo__text" style="font-family: 'Geometria', sans-serif;
                            font-size: 120px; fill: #fff;" x="400" y="130">AVSWEB</text>
            <text class="logo__text" style="font-family: 'Geometria', sans-serif;
                            font-size: 80px; fill: #fff;" x="400" y="270">веб-студия</text>
          </svg>
        </a>
        <button class="btn-menu btn-menu--homepage js-menu-toggler"
          data-uk-toggle="target: .js-menu, .js-menu-toggler, .js-contacts-toggler, .js-contacts-block, .js-logo; cls: opened-menu" type="button"></button>
        <nav class="nav-main js-menu">
          <ul class="nav-main__list">
            <li class="nav-main__item">
              <a class="nav-main__link" href="#">
                О нас
              </a>
            </li>
            <li class="nav-main__item">
              <a class="nav-main__link active" href="#">
                Услуги
              </a>
            </li>
            <li class="nav-main__item">
              <a class="nav-main__link" href="#">
                Типы сайтов
              </a>
            </li>
            <li class="nav-main__item">
              <a class="nav-main__link" href="#">
                Портфолио
              </a>
            </li>
            <li class="nav-main__item">
              <a class="nav-main__link" href="#">
                Клиенты
              </a>
            </li>
            <li class="nav-main__item">
              <a class="nav-main__link" href="#">
                Контакты
              </a>
            </li>
          </ul>
        </nav>
        <div class="contacts-block contacts-block--opened js-contacts-block">
          <a class="contacts-block__tel" href="tel:74732406226">
            <svg class="contacts-block__tel-icon">
              <use xlink:href="../img/sprite.svg#phone" />
            </svg>
            <span class="contacts-block__tel-text">+7 473 240-6226</span>
          </a>
          <ul class="contacts-block__social-list">
            <li class="contacts-block__social-item">
              <a class="contacts-block__social-link" href="#" target="_blank">
                <svg class="contacts-block__social-icon" width="15" height="8">
                  <use xlink:href="../img/sprite.svg#vk" />
                </svg>
              </a>
            </li>
            <li class="contacts-block__social-item">
              <a class="contacts-block__social-link" href="#" target="_blank">
                <svg class="contacts-block__social-icon" width="12" height="12">
                  <use xlink:href="../img/sprite.svg#in" />
                </svg>
              </a>
            </li>
            <li class="contacts-block__social-item">
              <a class="contacts-block__social-link" href="#" target="_blank">
                <svg class="contacts-block__social-icon" width="8" height="15">
                  <use xlink:href="../img/sprite.svg#fb" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <button class="btn-contacts js-contacts-toggler" data-uk-toggle="target: .js-contacts-toggler, .js-contacts-block; cls: opened-contacts" type="button">
          <svg class="btn-contacts__phone">
            <use xlink:href="../img/sprite.svg#phone" />
          </svg>
          <svg class="btn-contacts__close">
            <use xlink:href="../img/sprite.svg#close" />
          </svg>
        </button>
      </header>
      <main class="page">
        <section class="intro home-section">
          <h1 class="intro__title">
            <img class="intro__title-image" src="../img/mask-title.svg" alt="Разработка и продвижение сайтов">
            <span class="intro__title-text">Разработка и продвижение сайтов</span>
          </h1>
          <div class="intro__slogan vertical-text">
            Привлекаем клиентов<br>
            и увеличиваем продажи!
          </div>
        </section>
        <section class="home-services home-section js-home-services">
          <div class="home-section__leftside">
            <div class="home-services__title-wrapper home-section__title-wrapper" data-uk-sticky="bottom: true">
              <h2 class="home-services__title home-section__title">
                Услуги
              </h2>
            </div>
          </div>
          <div class="home-services__rightside home-section__rightside">
            <ul class="home-services__list">
              <li>
                <a class="service-item">
                  <span class="service-item__title">
                    Разработка сайтов «под ключ»
                  </span>
                  <span class="service-item__desc">
                    Как вы, вероятно, уже знаете — стоимость каждого сайта рассчитывается индивидуально, в зависимости
                    от
                    типа сайта, сферы вашей деятельности и качества создаваемого проекта.
                  </span>
                  <span class="service-item__arrow"></span>
                </a>
              </li>
              <li>
                <a class="service-item">
                  <span class="service-item__title">
                    Разработка сайтов «под ключ»
                  </span>
                  <span class="service-item__desc">
                    Как вы, вероятно, уже знаете — стоимость каждого сайта рассчитывается индивидуально, в зависимости
                    от
                    типа сайта, сферы вашей деятельности и качества создаваемого проекта.
                  </span>
                  <span class="service-item__arrow"></span>
                </a>
              </li>
              <li>
                <a class="service-item">
                  <span class="service-item__title">
                    Разработка сайтов «под ключ»
                  </span>
                  <span class="service-item__desc">
                    Как вы, вероятно, уже знаете — стоимость каждого сайта рассчитывается индивидуально, в зависимости
                    от
                    типа сайта, сферы вашей деятельности и качества создаваемого проекта.
                  </span>
                  <span class="service-item__arrow"></span>
                </a>
              </li>
              <li>
                <a class="service-item">
                  <span class="service-item__title">
                    Разработка сайтов «под ключ»
                  </span>
                  <span class="service-item__desc">
                    Как вы, вероятно, уже знаете — стоимость каждого сайта рассчитывается индивидуально, в зависимости
                    от
                    типа сайта, сферы вашей деятельности и качества создаваемого проекта.
                  </span>
                  <span class="service-item__arrow"></span>
                </a>
              </li>
              <li>
                <a class="service-item">
                  <span class="service-item__title">
                    Разработка сайтов «под ключ»
                  </span>
                  <span class="service-item__desc">
                    Как вы, вероятно, уже знаете — стоимость каждого сайта рассчитывается индивидуально, в зависимости
                    от
                    типа сайта, сферы вашей деятельности и качества создаваемого проекта.
                  </span>
                  <span class="service-item__arrow"></span>
                </a>
              </li>
            </ul>
          </div>
        </section>
        <section class="types home-section js-types">
          <div class="types__leftside home-section__leftside">
            <div class="types__title-wrapper home-section__title-wrapper" data-uk-sticky="bottom: true">
              <h2 class="types__title home-section__title">
                Типы сайтов
              </h2>
            </div>
          </div>
          <div class="types__rightside home-section__rightside">
            <ul class="types__list">
              <li>
                <div class="type-item type-item--left">
                  <div class="type-item__content">
                    <div class="type-item__top">
                      <h3 class="type-item__title">
                        Landing Page
                      </h3>
                      <ul class="type-item__list custom-list">
                        <li class="type-item__list-item">Базовый дизайн</li>
                        <li class="type-item__list-item">Уникальный дизайн</li>
                        <li class="type-item__list-item">Индивидуальный подход</li>
                      </ul>
                    </div>
                    <div class="type-item__bottom">
                      <button class="type-item__btn btn" type="button">
                        <span class="btn__caption">
                          Получить коммерческое предложение
                        </span>
                        <span class="btn__bg"></span>
                      </button>
                      <div class="type-item__price">
                        от 75 000 <span class="rubl" >j</span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="type-item type-item--right">
                  <div class="type-item__content">
                    <div class="type-item__top">
                      <h3 class="type-item__title">
                        Landing Page
                      </h3>
                      <ul class="type-item__list custom-list">
                        <li>Базовый дизайн</li>
                        <li>Уникальный дизайн</li>
                        <li>Индивидуальный подход</li>
                      </ul>
                    </div>
                    <div class="type-item__bottom">
                      <button class="type-item__btn btn" type="button">
                        <span class="btn__caption">
                          Получить коммерческое предложение
                        </span>
                        <span class="btn__bg"></span>
                      </button>
                      <div class="type-item__price">
                        от 75 000 <span class="rubl" >j</span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section class="home-portfolio home-section js-home-portfolio">
          <div class="home-portfolio__leftside home-section__leftside">
            <div class="home-portfolio__title-wrapper home-section__title-wrapper" data-uk-sticky="bottom: true">
              <h2 class="home-portfolio__title home-section__title">
                Портфолио
              </h2>
            </div>
          </div>
          <div class="home-portfolio__rightside home-section__rightside">
            <ul class="home-portfolio__list">
              <li class="home-portfolio__list-item">
                <div class="project-item">
                  <div class="project-item__title-wrapper">
                    <h3 class="project-item__title">
                      <span class="project-item__title-row">Посуда для баров</span> 
                      <span class="project-item__title-row">и ресторанов</span>
                    </h3>
                    <a class="project-item__link btn" href="#" style="background-color: #394289">
                      <span class="btn__caption">Смотреть проект →</span>
                    </a>
                  </div>
                  <div class="project-item__type">
                    Интернет-магазин
                  </div>
                  <div class="project-item__image-container uk-cover-container">
                    <img data-uk-cover src="../img/bg-project-item.jpg" alt="">
                  </div>
                </div>
              </li>
              <li class="home-portfolio__list-item">
                  <div class="project-item">
                    <div class="project-item__title-wrapper">
                      <h3 class="project-item__title">
                        <span class="project-item__title-row">Посуда для баров</span> 
                        <span class="project-item__title-row">и ресторанов</span>
                      </h3>
                      <a class="project-item__link btn" href="#" style="background-color: #394289">
                        <span class="btn__caption">Смотреть проект →</span>
                      </a>
                    </div>
                    <div class="project-item__type">
                      Интернет-магазин
                    </div>
                    <div class="project-item__image-container uk-cover-container">
                      <img data-uk-cover src="../img/bg-project-item.jpg" alt="">
                    </div>
                  </div>
                </li>
                <li class="home-portfolio__list-item">
                    <div class="project-item">
                      <div class="project-item__title-wrapper">
                        <h3 class="project-item__title">
                          <span class="project-item__title-row">Посуда для баров</span> 
                          <span class="project-item__title-row">и ресторанов</span>
                        </h3>
                        <a class="project-item__link btn" href="#" style="background-color: #394289">
                          <span class="btn__caption">Смотреть проект →</span>
                        </a>
                      </div>
                      <div class="project-item__type">
                        Интернет-магазин
                      </div>
                      <div class="project-item__image-container uk-cover-container">
                        <img data-uk-cover src="../img/bg-project-item.jpg" alt="">
                      </div>
                    </div>
                  </li>
            </ul>
            <a class="home-portfolio__view-all" href="#">
              <span class="home-portfolio__view-all-text">
                Все<br> проекты
              </span>
            </a>
          </div>
        </section>
        <section class="home-feedback home-section js-home-feedback">
          <div class="home-feedback__leftside home-section__leftside">
            <div class="home-feedback__title-wrapper home-section__title-wrapper" data-uk-sticky="bottom: true">
              <h2 class="home-feedback__title home-section__title">
                Хотите с нами<br>
                работать?
              </h2>
            </div>
          </div>
          <div class="home-feedback__rightside home-section__rightside">
            <div class="home-feedback__inner">
              <form class="form-feedback">
                <h3 class="form-feedback__title">
                  Заполните форму
                </h3>
                <div class="form-feedback__row">
                  <input class="input-text input-text--name" type="text" placeholder="Имя" aria-labelledby="Имя"
                    required>
                </div>
                <div class="form-feedback__row">
                  <input class="input-text input-text--tel" type="tel" placeholder="Телефон" aria-labelledby="Телефон"
                    required>
                </div>
                <div class="form-feedback__row">
                  <input class="input-text input-text--email" type="email" placeholder="Email" aria-labelledby="Email"
                    required>
                </div>
                <button class="form-feedback__submit btn btn--wide btn--feedback" type="submit">
                  <span class="btn__caption">
                    Отправить
                  </span>
                </button>
                <div class="custom-checkbox">
                  <input class="custom-checkbox__input" id="policy" type="checkbox" checked required>
                  <label class="form-feedback__policy custom-checkbox__label" for="policy">
                    Согласие на обработку <a href="#">персональных данных</a>
                  </label>
                </div>
              </form>
            </div>
          </div>
        </section>
        <section class="home-clients home-section js-home-clients">
          <div class="home-feedback__leftside home-section__leftside">
            <div class="home-clients__title-wrapper home-section__title-wrapper" data-uk-sticky="bottom: true">
              <h2 class="home-clients__title home-section__title">
                Наши клиенты
              </h2>
            </div>
          </div>
          <div class="home-clients__rightside home-section__rightside">
            <ul class="home-clients__list">
              <li>
                <img src="../img/client-1.png" alt="">
              </li>
              <li>
                <img src="../img/client-2.png" alt="">
              </li>
              <li>
                <img src="../img/client-3.png" alt="">
              </li>
              <li>
                <img src="../img/client-4.png" alt="">
              </li>
              <li>
                <img src="../img/client-5.png" alt="">
              </li>
              <li>
                <img src="../img/client-6.png" alt="">
              </li>
              <li>
                <img src="../img/client-7.png" alt="">
              </li>
              <li>
                <img src="../img/client-8.png" alt="">
              </li>
            </ul>
          </div>
        </section>
        <section class="home-contacts home-section">
          <div class="home-contacts__leftside home-section__leftside">
            <div class="home-contacts__title-wrapper home-section__title-wrapper" data-uk-sticky="bottom: true">
              <h2 class="home-contacts__title home-section__title">
                Контакты
              </h2>
            </div>
          </div>
          <div class="home-contacts__rightside home-section__rightside">
            <ul class="home-contacts__list">
              <li>
                <div class="contacts-item">
                  <h3 class="contacts-item__title">
                    Адрес
                  </h3>
                  <div class="contacts-item__text">
                    Воронеж, Хользунова, 107А
                  </div>
                </div>
              </li>
              <li>
                <div class="contacts-item">
                  <h3 class="contacts-item__title">
                    Телефон
                  </h3>
                  <a class="contacts-item__link" href="tel:74732406226">
                    +7 473 240-6226
                  </a>
                </div>
              </li>
              <li>
                <div class="contacts-item">
                  <h3 class="contacts-item__title">
                    Email
                  </h3>
                  <a class="contacts-item__link" href="mailto:mail@avsweb.ru">
                    mail@avsweb.ru
                  </a>
                </div>
              </li>
            </ul>
            <div id="map" class="map"></div>
          </div>
        </section>
        <a class="to-top" data-uk-scroll href="#"></a>
      </main>
    </div>
  </div>
  <script src="bundle.js"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIFahTcjICtZwQkdqP7S3XR8oGynPi7LM"></script>
</body>

</html>