<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AVSWEB</title>
  <link href="css/main.css" rel="stylesheet">
</head>

<body class="page-404 js-404">
  <div class="page-wrapper">
    <div class="uk-container">
      <div class="page-404__inner">
        <div class="page-404__img js-404-img"></div>
        <div class="page-404__text js-404-text">
          Упс, ошибочка<br>
          Может на <a href="/">главную</a>?
        </div>
      </div>
    </div>
  </div>
  <script src="bundle.js"></script>
</body>

</html>