// 1. Your custom variables and variable overwrites.
@import "variables";

$global-font-family: $font-base;
$base-color: #4f4f4f;
$global-link-color: #ea246e;
$base-link-hover-color: #ea246e;
$base-link-text-decoration: underline;
$global-medium-gutter: 15px;

$modal-dialog-width: 615px;
$close-hover-color: #999;

$global-gutter: 20px;
$global-small-gutter: 20px;
$global-large-gutter: 20px;
$global-medium-gutter: 20px;

$nav-item-padding-vertical: 0;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.

@mixin hook-form-focus() {
  border-color: #672aa0;
}

.uk-thumbnav > * > :focus {
  outline: #672aa0 auto 5px;
}

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";
