*:focus {
	outline-color: #6d2cc1;
}

html,
body {
	line-height: 1;
}

input,
textarea,
select,
button {
	appearance: none;
	font-family: inherit;
}

button {
	cursor: pointer;
}

form.is-checked {
	input,
	textarea {
		&:invalid {
			box-shadow: none;
			border-bottom-color: #ff0f3c;
		}
	}
}
