.btn-contacts { 
  @include reset-btn;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 980;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  &.opened-contacts {
    position: fixed;
    z-index: 984;
    .btn-contacts__phone {
      display: none;
    }
    .btn-contacts__close {
      display: block;
    }
  }
  @media (min-width: $breakpoint-small) {
    display: none;
    
  }
} 

.btn-contacts__phone {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.btn-contacts__close {
  display: none;
  width: 20px;
  height: 20px;
  fill: #fff;
}