.btn-menu {
  @include reset-btn;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 983;
  width: 88px;
  height: 48px;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  transform: translateX(-50%);
  transition: background-color 0.25s;
  &::before {
    content: '';
    position: absolute;
    top: 11px;
    left: 50%;
    width: 26px;
    height: 2px;
    background: #ececec;
    transform: translateX(-50%);
    transition: transform 0.25s;
  }
  &::after {
    content: '';
    position: absolute;
    top: 18px;
    left: 50%;
    width: 26px;
    height: 2px;
    background: #ececec;
    transform: translateX(-50%);
    transition: transform 0.25s;
  }
  &--homepage {
    background-color: #1e1e1e;
  }
  &--innerpage {
    background-color: #535353;
    @media (min-width: $breakpoint-small) {
      left: 220px;
    }
    @media (min-width: $breakpoint-medium) {
      left: 330px;
    }
    @media (min-width: $breakpoint-xlarge) {
      left: 430px;
    }
  }
  &--light {
    background-color: #4e4e4e;
  }
  &--dark {
    background-color: #1e1e1e;
  }
  &.opened-menu, &.opened-contacts {
    background-color: #353535;
    transition: background-color 0.25s;
    &::before {
      transform: translateX(-50%) translateY(6px) rotate(-45deg);
      transition: transform 0.25s;
    }
    &::after {
      transform: translateX(-50%) translateY(-1px) rotate(45deg);
      transition: transform 0.25s;
    }
  }
}