.btn {
  @include reset-btn;
  @include reset-link;
  position: relative;
  display: inline-block;
  min-width: 160px;
  padding: 15px;
  background: #1e1e1e;
  overflow: hidden;
  text-align: center;
  color: #fff;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #ea246e;
    transform: translateX(-100%);
    transition: transform 0.25s;
  }
  &--wide {
    width: 100%;
  }
  &--feedback {
    .btn__caption {
      font-size: 18px;
    }
  }
  &:hover {
    color: #fff;
    &::before {
      transform: translate(0);
      transition: transform 0.25s;
    }
  }
}

.btn__caption {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 14px;
}