.contacts-item {
  width: 230px;
  margin: 0 27px 65px; 
}

.contacts-item__title {
  margin: 0;
  padding: 0 0 15px;
  color: #343434;
  font-size: 30px;
  font-weight: 700;
}

.contacts-item__border {
  height: 1px;
  background-color: #0d1216;
  margin-bottom: 20px;
}

.contacts-item__text {
  color: #4f4f4f;
}

.contacts-item__link {
  @include reset-link;
  color: #4f4f4f;
}