.home-contacts__title-wrapper {
  background: #dbf3ff;
}

.home-contacts__title {
  color: #343434;
}

.home-contacts__rightside {
  
}

.home-contacts__list {
  @include reset-list;
  display: flex;
  padding: 140px 75px 165px;
  margin: 0 -27px;
  flex-wrap: wrap;

}

#map {
  width: 50vmax;
  height: 45vmax;
}

// #map * {
//   overflow:visible;
// }