.home-feedback {
  border-top: 1px solid #141414;
  @media (min-width: $breakpoint-small) {
    border: none;
  }
}

.home-feedback__leftside {
  background-color: #fff;
}

.home-feedback__title {
  text-align: center;
  color: #060606;
}

.home-feedback__rightside {
  background: url('../img/bg-feedback.jpg') 50% 50% no-repeat;
  background-size: cover;
}

.home-feedback__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 90px 0;
  box-sizing: border-box;
  @media (min-width: $breakpoint-small) {
    padding: 310px 0 250px;
  }
}