.input-text {
	width: 360px;
	max-width: 100%;
	padding-left: 50px;
	height: 40px;
	box-sizing: border-box;
	background: transparent;
	border: none;
	border-bottom: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 0;
	@include set-placeholder(#fff, 16px, 400);
	background-position: 15px 50%;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	&:focus {
		border-bottom-color: rgba(255, 255, 255, 1);
		outline: none;
	}
	&--name {
		background-image: url("../img/icon-user.svg");
	}
	&--tel {
		background-image: url("../img/icon-tel.svg");
	}
	&--email {
		background-image: url("../img/icon-letter.svg");
	}
}
