.intro {
  position: relative;
  min-height: 100vh;
  // background: url('../img/bg-intro.jpg') 50% 50% no-repeat;
  // background-size: cover;
}

.intro__leftside {
  position: relative;
  background: url('../img/bg-intro-left.jpg') 50% 50% no-repeat;
  background-size: cover;
}

.intro__rightside {
  position: relative;
  background: url('../img/bg-intro-right.jpg') 50% 50% no-repeat;
  background-size: cover;
}

.intro__tel {
  color: #707070;
  font-size: 18px;
}

// .intro__content {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

.intro__content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
}

.intro__title {
  
  width: 1000px;
  background-color: #fff;
  background-image: 
    linear-gradient(to left, #fff, #fff),
    url('../img/bg-intro.jpg');
  background-position: 
    0 0,
    50% 0;
  background-repeat: 
    no-repeat, 
    no-repeat;
  background-size: 
    50% 100%, 
    50% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  color: #fff;
  font-family: $font-decor;
  font-size: 128px;
  transform: translate(-50%, -50%);
}

.intro__slogan {
  // position: absolute;
  // bottom: 50px;
  // right: 40px;
  font-size: 20px;
}