.portfolio__list {
  @include reset-list;
  li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 100px;
    &:nth-child(2n) {
      justify-content: flex-end;
    }
    &:nth-child(2n+1) {
      justify-content: flex-start;
    }
  }
}