.service-item {
  @include reset-link;
  display: block;
  padding: 55px 65px 90px;
  border-top: 10px solid transparent;
  background-color: #fff;
  &:hover {
    background-color: #ea246e;
    border-image: url('../img/border-service-item.jpg') 10;
    background-size: cover;
    .service-item__title {
      color: #f7f7f7;
    }
    .service-item__desc {
      color: #f7f7f7;
    }
    .service-item__arrow {
      &::before {
        transform: scaleX(2.4);
        background-color:#fff;
        transition: transform 0.25s;
      }
      &::after {
        transform: translateX(28px) rotate(45deg);
        border-color: #fff;
        transition: transform 0.25s;
      }
    }
  }
}

.service-item__title {
  display: block;
  max-width: 445px;
  margin-bottom: 20px;
  color: #343434;
  font-size: 24px;
  font-weight: 700;
}

.service-item__desc {
  display: block;
  max-width: 445px;
  margin-bottom: 33px;
  color: #4f4f4f;
  font-size: 15px;
  line-height: 1.2;
}

.service-item__link {
  display: flex;
  align-items: center;
}

.service-item__arrow {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 2px;
    background: #000;
    transform-origin: left;
    transition: transform 0.25s, background-color 0.25s;
  }
  &::after {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 13px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
    transition: transform 0.25s, border-color 0.25s;
  }
}