.service__result-section {
  margin-bottom: 125px;
}

.service__price-section {
  margin-bottom: 40px;
}

.service__price-text {
  max-width: 580px;
}

.service__work-section {
  margin-bottom: 170px;
  border-top: 1px solid #cfcfcf;
  padding-top: 65px;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 45px;
  @media (min-width: $breakpoint-large) {
    grid-template-columns: 1.9fr 1fr;
  }
}