.types__title-wrapper {
	background: #dbf2ff url("../img/types-noise.png") no-repeat 50% 50% / auto;
}

.types__title {
	color: #343434;
}

.types__rightside {
	box-sizing: border-box;
	padding: 20px 20px 120px 20px;
	@media (min-width: $breakpoint-medium) {
		padding: 20px;
	}
}

.types__list {
	@include reset-list;
	li:not(:last-of-type) {
		margin-bottom: 20px;
	}
}
