.vertical-text {
  transform: rotate(-90deg);
  transform-origin: left;
  &::before {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    height: 1px;
  }
  &--light {
    color: #fff;
    &::before {
      background-color: #fff;
    }
  }
  &--dark {
    color: #000;
    &::before {
      background-color: #000;
    }
  }
  &--long-dash {
    padding-left: 110px;
    &::before {
      width: 75px;
    }
  }
  &--short-dash {
    padding-left: 50px;
    &::before {
      width: 40px;
    }
  }
}